<div class="container">
  <div class="col-md-6">
    <div class="todolist not-done">
     <h1>Todos</h1>
        <input type="text" class="form-control add-todo" placeholder="Add todo">
            <button id="checkAll" class="btn btn-success">Add Todo</button>

        <hr>
        <div>
            <input type="button" [class]="filter=='SHOW_ALL' ? 'btn btn-primary': 'btn btn-default'" value="All" (click)="changeFilter('SHOW_ALL')">
            <input type="button" [class]="filter==='IN_PROGRESS' ? 'btn btn-primary': 'btn btn-default'" value="In Process" (click)="changeFilter('IN_PROGRESS')">
            <input type="button" [class]="filter==='DONE' ? 'btn btn-primary' : 'btn btn-default'" value="Done" (click)="changeFilter('DONE')">
        </div>

        <hr>
        <ul id="sortable" class="list-unstyled" *ngFor="let todo of todos">
            <li class="ui-state-default">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  [(ngModel)]="!todo.completed" />{{ todo.name }}</label>
                </div>
            </li>
        </ul>
    </div>
</div>
